.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    margin: 10px;
    margin-top: 35px;
    padding: 15px;
    box-shadow: 0px 2px 5px black;
    max-height: fit-content;

}

p {
    font-size: large;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.DellB {
    margin-top: 30px;
    background-color: rgb(125, 125, 125);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px white;
    border-radius: 5px;
    border: none;
    height: 34px;
    width: 70px;
    margin: 10px 3px -10px;
    transition: 1s;
}

.DellB:hover {
    background-color: rgb(204, 204, 204);
    transition: 500ms;
}

.EditB {
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    height: 34px;
    width: 70px;
    margin: 10px 3px -10px;
    transition: 500ms;
    background-color: rgb(125, 125, 125);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px white;

}

.EditB:hover {
    background-color: rgb(204, 204, 204);
    transition: 500ms;

}