.EditBox {
    display: flex;
    background-color: rgba(210, 105, 30, 0.918);
    background-color: rgba(255, 255, 255, 0.897);
    position: fixed;
    margin-top: 30vh;
    width: 60vw;
    height: fit-content;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.Edit-Name {
    width: 100%;
    display: flex;
    background-color: rgb(10, 10, 10);
    height: 30px;
    color: white;
    width: 100%;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
    box-shadow: 1px 1px 10px black;
}

label {
    align-self: center;
    color: rgb(0, 0, 0);
}

.Cancel {
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 27px;
    width: 27px;
    margin-left: 93%;
    border-radius: 20%;
    border: none;
}

.SetEdit {
    border-radius: 3px;
    background-color: #78b147fe;
    height: 30px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 10px black;

}

.SetEdit:active {
    border-radius: 3px;
    transition: 1s;
    background-color: #30590cfe;
    height: 30px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 10px black;

}