header {
    position: fixed;
    height: 28px;
    width: 100vw;
    color: black;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 3px 0px 10px rgb(0, 0, 0);
    background-color: chocolate;
}